[gcode_macro CLEAN_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=clean_nozzle_state
    _CG28   				# home if needed
    G90
    G1 Z10 F600
    G1 X268 F3000  			# move behind brush
    G1 Z6.5 F600     			# wipe height
    {% if printer.extruder.target >= 190 and (printer.extruder.target - printer.extruder.temperature)|abs <= 5 %}
        M83
        G1 E15 F250      	# purge @ 10mm^3/s
        G1 E-2 F1000     	# retract
        G4 P2000         	# wait 2s
        G92 E0
        {% for wipes in range(3) %}   # wipe 5 times
            G1 X234 F5000
            G1 X253 F5000
        {% endfor %}
        G1 X230 F5000
    {% endif %}
    RESTORE_GCODE_STATE NAME=clean_nozzle_state

[gcode_macro G29]				
gcode:
  G28
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200
  
[gcode_macro START_PRINT]
gcode:
#    {% set BED_TEMP = params.BED_TEMP|default(62)|float %}
#    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(215)|float %}
#    M190 S{BED_TEMP} # Set and wait for nozzle to reach temperature
#    M109 S{EXTRUDER_TEMP} # Set and wait for nozzle to reach temperature
    G90 # Reset the G-Code Z offset (adjust Z offset if needed)
    G92 E0 ; Reset Extruder
    G28 ; Home all axes
#    BED_MESH_CLEAR
#    bed_mesh_calibrate
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 Z2.0 F3000
    G1 X1.0 Y20 Z0.75 F5000.0
    G1 X1.0 Y200 Z0.75 F1500.0 E20
    G1 X1.3 Y200 Z0.75 F5000.0
    G1 X1.3 Y20 Z0.75 F1500.0 E45
#    G1 Z10.0 F3000
#    G1 X252 F3000  			# move behind brush
#    G1 Z6 F600     			# wipe height
#    G1 E60 F200      	# purge @ 10mm^3/s
#    G4 P1000         	# wait 1s
    G92 E0
#    {% for wipes in range(3) %}   # wipe 5 times
#      G1 X272 F3000
#      G1 X268 F3000
#    {% endfor %}
#      G1 Y10 X230 F5000
     G1 Z2.0 F3000.0

[gcode_macro END_PRINT]
gcode:
    # Move nozzle away from print while retracting
    G91
    G1 Z5 E-10 F400     # Raise nozzle by 5mm andretract 10mm of filament 
    G90
    G1 X5 Y200 F3000 ;Present print
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    # Disable steppers
    M84

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 E-15 F2700 ;Retract a bit
    G1 E-15 Z4.5 F2400 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    M84
  CANCEL_PRINT_BASE